# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
credentials.json
token.json
config.json
production.log
logs/

# Executables
*.swf
*.air
*.ipa
*.apk
